{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<style>
    .main-content {
        min-height: calc(100vh - 100px);
        overflow: hidden;
    }
</style>


<script src="https://cdn.botpress.cloud/webchat/v2.2/inject.js"></script>
<script src="https://files.bpcontent.cloud/2025/02/03/04/20250203045551-4JQ9KF06.js"></script>


<div class="main-content">

    <div class="row mb-5 text-center text-white laptop">
        <div class="col-lg-10 mx-auto">
            <a class="navbar-brand ms-auto" href="https://www.lendi.edu.in/" target="_blank">
                <img src="/static/Images/lendi-full-logo.webp" alt="Lendi College"
                    style="max-width: 50%; height: auto; margin-top: 20px;">
            </a>
            <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>About Us</b></h1>
            <h1 class="display-4" style="padding-top: 1%;font-weight: 300;color: rgb(4, 54, 4);"><b>Enhanced Plant Disease Detection Using DL</b></h1>
            <p class=" p-5 bg-white shadow rounded-lg" style="color: black;text-align: justify;font-size: large;padding: 1%;">The identification and restoration of plant diseases is a critical challenge in modern
                agriculture, directly impacting food security and crop sustainability. Our method presents a
                robust and efficient solution for automatically detecting plant diseases and recommending
                restoration measures, utilizing the Xception architecture a deep convolutional neural network
                (CNN) model known for its superior classification capabilities. We train our model on the
                PlantVillage dataset, encompassing 39 classes, including 38 plant disease categories and one
                background class. To extend the utility of disease detection, we integrate a real-time chatbot
                assistant powered by an extensive agricultural knowledge base, offering users instant guidance
                on crop management, disease prevention, and treatment strategies. Furthermore, we introduce an
                integrated store platform that directs users to recommended agricultural products such as
                pesticides and medications tailored to the diagnosed disease. Experimental results demonstrate
                the effectiveness of our Xception-based system, achieving high accuracy in disease
                identification while offering a seamless user experience for practical restoration. By
                leveraging deep learning and intelligent interfaces, our approach empowers farmers and
                agriculturists to maintain healthier crops and enhance agricultural productivity.
            </p>
        </div>
    </div>

    <div class="row p-3">
        <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 90%;">
                <center>
                    
                    <h3>Team 17</h3>
                    
                    <p class="lead" style="font-weight: 350;">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Consequatur placeat sunt sit. Facilis voluptas voluptatibus officiis exercitationem aperiam
                        voluptates tempora mollitia suscipit illo reprehenderit hic dolores aliquam odio nobis dicta
                        quis
                        quae voluptatem, illum veniam molestias quos ipsum totam esse molestiae? Quam eligendi nisi
                        quia.
                    </p>
                </center>
                <div>
                    <h5>Team :</h5><br>
                    <a target="_blank" href='mailto:jashtest18@gmail.com'><img
                            src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0"
                            height="30" width="40"></a> :
                    jashtest18@gmail.com<br><br>
                    <a target="_blank" href="https://www.linkedin.com/"><img
                            src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" height="40"
                            width="40"></a>&nbsp
                    : linkedin<br><br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 90%;">
                <center>
                    <h3>
                        Venu Tadiparti</h3>
                    <p class="lead" style="font-weight: 350;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sapiente ab veritatis nostrum similique voluptas praesentium eaque veniam minus, dicta eligendi
                        placeat repudiandae, magni, et nesciunt non! Perspiciatis quam non dolorum voluptate voluptas
                        reiciendis at aspernatur! Quia molestias, aliquid distinctio aperiam at nisi, ducimus magni
                        aliquam
                        quam neque omnis animi fugit sed quaerat maxime assumenda sit?
                    </p>
                </center>
                <div>
                    <h5>Guide :</h5><br>
                    <a target="_blank" href='mailto:jashtest18@gmail.com'><img
                            src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0"
                            height="30" width="40"></a> :
                    venu@gmail.com<br><br>
                    <a target="_blank" href='https://www.linkedin.com/'><img
                            src="https://img.icons8.com/?size=100&id=98960&format=png&color=000000" height="44"
                            width="44"></a> :
                    Lorem, ipsum dolor.<br><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}